body{
  color: #FAFAFA;
  margin: 0;
  padding: 0;
  line-height: 150%;
  background-attachment:fixed;             /* 背景画像を固定する */
  background-position: 50% 40%;            /* 背景画像の位置は画面中央 */
  background-size: 100%;
}

#main{
  margin-top: -50px;
  padding-top: 50px;
}

.site-width{
  width: 980px;
  margin: 0 auto;
}

/*上部ナビ*/
#top-nav{
  float: right;
  position: relative;
  width: 500px;
  height: 50px;
}
nav a{
  padding: 10px 15px;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
nav a:hover, #portfolio a:hover, .panel a:hover{
  text-decoration: underline;
}
#top-nav ul{
  position: absolute;
  height: 40px;
  width: auto;
  top: 0;
  right: 0;
  list-style: none;
  margin: 15px;
}
#top-nav ul li{
  float: left;
}

/*ヘッダ*/
header{
  position: fixed;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  background: #1A237E;
  border-bottom: 1px solid #ccc;
  top: 0;
  z-index: 3;
}
header h1{
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  float: left;
  height: 40px;
  margin: 15px;

}
header h1 a{
  color: #ffffff;
  text-decoration: none;
}

section h1.title{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #FFEB3B;
}
#about,#like,#interest,#portfolio{
  /*本来は80pxずつだが、ヘッダ固定を考慮してmarginをヘッダ分マイナス、paddingをヘッダ分プラスしている*/
  padding-top: 50px;
  margin-top: 30px;
  margin-bottom: 80px;
  overflow: hidden;
}
#about,#portfolio p{
  text-align: center;
}

/*トップ画*/
#profile{
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}
#profile-sent{
  position: absolute;
  font-size: 15px;
  bottom: 20px;
  right: 120px;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: #000000;
  background: rgba(10,10,10, 0.8);
}
#profile-sent span{
  font-size: 30px;
  font-weight: bold;
  line-height: 200%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*パネル*/
.panel{
  background: #01579B;
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 0 15px;
  padding: 15px;
  width: 30%;
  float: left;
  box-sizing: border-box;
  min-height: 455px;
}
.panel h2{
  color: #FFEB3B;
  text-align: center;
}
.panel-icon{
  height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-panel{
  min-height: 300px;
  width: 30%;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.portfolio-panel-icon{
  margin-top: 10px;
  height: 260px;
}
#portfolio a, .panel a{
  color: #f5f5f5;
  text-decoration: none;
  font-weight: bold;
}

footer{
  font-size: 12px;
  text-align: center;
  background: #1A237E;
  color: #f6f5f5;
}
footer a{
  color: #f6f5f5;
}

.clearfix:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-table;}
